<h1>Welcome to the Car Simulator</h1>
<form action="create" method="get">
    <input type="text" name="make" value="" placeholder="Make">
    <input type="text" name="modelyear" value="" placeholder="Model year">
    <input type="submit" name="submit" value="Simulate Car">
</form>
